/* Ensure Kendo SVG icons render properly */
.k-icon,
.k-svg-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.k-svg-icon svg {
  display: block;
}
