name: Reset DB in Carton Case Manager

on:
  workflow_call:
    inputs:
      environment:
        description: 'Environment to reset'
        type: string
        required: true

permissions:
  contents: read

jobs:
  reset:
    name: reset 
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Database Reset
      env:
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_JIRA_INTEGRATIONS }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_JIRA_INTEGRATIONS }}
        ENVIRONMENT: ${{ inputs.environment }}
      run: |
        cd infra/utilities
        python3 -m venv .venv
        source .venv/bin/activate
        pip install -r requirements.txt
        python db.reset --environment $ENVIRONMENT

