name: Deploy Latest tag

on:
  release:
    types: [published, edited]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: false

jobs:
  deploy-carton:
    name: Deploy Carton Case Management Production
    uses: ./.github/workflows/deploy.yaml
    secrets: inherit
    with:
      environment: production
      ecr-repo: carton-case-management-app
